* {
  box-sizing: border-box;
}

@media only screen and (max-width: 760px) {
  .nav-bar1-top {
    display: none;
  }

  .nav-bar1-bottom1 {
    display: none;
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1;
  }

  .nav-icon a {
    padding-left: 15px;
    padding-right: 10px;
  }

  /* main part */

  main {
    position: relative;
    top: 40px;
  }

  /* SECTION1*/

  #G1 {
    background-image: url(/images/image1.jpeg);
    background-position: center;
    background-size: cover;
    height: 100%;
  }

  #G2 {
    background-image: url(/images/image2.png);
    background-position: center;
    background-size: cover;
  }

  #G3 {
    display: block;
    background-image: url(/images/image3.jpeg);
    background-position: center;
    background-size: cover;
  }

  .section1-grid {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
  }

  /* SECTION2 */

  .section2-grid {
    display: block;
  }

  .msection2-items img {
    float: left;
    width: 20%;
    height: 25%;
    clear: left;
  }

  #S2header a {
    color: #f42;
    text-decoration: none;
  }



  /* section 3 */

  .section3-wrap {
    display: block;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
  }

  .section3-heading {
    display: block;
    height: auto;
    align-items: center;
  }

  .section3-heading h2 span svg {
    width: 16px;
    height: 16px;
  }

  .heading-menu {
      display: flex;
      flex-direction: column;
  }

  .section3-heading h2 {
    color: #f42;
    font-weight: 700;
    font-size: 1.6rem;
    font-family: Avalon, sans-serif;
  }

.section3-heading a {
    font-size: 0.8rem;
    margin-top: 10px;
    color: #f42;
    text-decoration: none;
  }

  .section3-items {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .section3-items a {
    width: 100%;
  }

  .section3-items a > h4 {
    background-color: #f42;
    color: #fff;
    font-size: 0.9rem;
    padding: 10px 16px 10px 84px;
    margin: 0;
  }


.section3-items img{
    width: 60px;
    height: 60px;
    position: absolute;
    margin: 15px 0 0 15px;

}

.section3-items a > div {
    padding: 10px 16px 15px 84px;
    color: #000;
    background: rgba(255, 68, 34, 0.08);
    margin: 0;
  }

  .section3-items a > div > h4 {
    margin: 0;
    padding: 0;
    display: block;
  }

  .section3-items a > div > h5 {
    color: #000;
    opacity: 0.5;
    font-family: Shentox, sans-serif;
    font-weight: 500;
    display: block;
    margin: 0;
    padding: 0;
  }

  .section3-industry {
    width: 100%;
    background: #fffaf8;
  }

  .section3-industry div {
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 100%;
  }
  
  .section3-industry a {
    display: inline;
    margin-bottom: 10px;
    font-weight: 300;
    width: 100%;
    text-decoration: none;
  }

  .section3-industry a > span {
    font-size: 0.9rem;
    color: #555;
  }
   
    .section3-industry span {
        margin-top: 3px;
        padding-right: 10px;
      }

      .section3-bottom {
        border-top: 1px solid rgba(255, 68, 34, 0.25);
        padding-top: 10px; 
      }

      .section3-bottom a {
        color: #555;
        margin: 0;
        font-size: 0.8rem;
      }
      .section3-bottom a span {
        color: #aaa;
      }

  /* section 4 */

  .findings-section {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
  }

  .findings-section > div {
    border: 1px solid black;
    font-size:20px;
    width:100%;
  }

  .text-over-image1 {
    background-image: url(/images/image16.jpeg);
    background-position: center;
  background-attachment: fixed;
    background-size: cover;
   }

  .text-over-image2 {
    background-image: url(/images/image17.jpeg);
    background-position: center;
    background-size: cover;
  }

  .text-over-image3 {
    background-image: url(/images/image28.jpeg);
    background-position: center;
    background-size: cover;
  }

  .text-over-image4 {
    background-image: url(/images/image2.jpeg);
    background-position: center;
    background-size: cover;
  }

  .text-over-image5 {
    background-image: url(/images/image18.jpeg);
    background-position: center;
    background-size: cover;
  }

  .text-over-image6 {
    background-image: url(/images/image32.jpeg);
    background-position: center;
    background-size: cover;
  }

  .text-over-image7 {
    background-image: url(/images/image26.jpeg);
    background-position: center;
    background-size: cover;
  }

  .text-over-image8 {
    background-image: url(/images/image16.jpeg);
    background-position: center;
    background-size: cover;
  }

  .text-over-image9 {
    background-image: url(/images/image32.jpeg);
    background-position: center;
    background-size: cover;
  }

  .section4-small-images {
    widows: 20px;
    height: auto;
  }

  .latest-news img {
    float:right;
    height:auto;
  }

  .latest-news {
    display:flex;
    border:2px solid black;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  /* section 5 */

  .discount-section {
    display: block;
  }

  .discount-section-main > div {
    text-align: center;
  }

  .smimage img {
    float: left;
    clear: left;
    width: 20%;
    height: 20%;
  }

  .smimage {
    padding-bottom: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: left;
     text-decoration: none;
  }

  .smimage a {
    text-align: left;
    color: black;
    text-decoration: none;
  }

  .smimage a:hover {
    color: red;
    text-decoration: underline;
    opacity: 0.7;
  }

  .discount-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: red;
  }

  .discount-title1 {
    font-size: 2rem;
    font-weight: bolder;
  }

  .discount-title2 {
    font-size: 1rem;
    margin-top: 0.6rem;
  }

  .discount-title a {
    text-decoration: none;
    color:red;
  }

  .discount-title a:hover {
    color:black;
  }

  .smimage span {
    text-align: left;
    color: gray;
    text-decoration:line-through;
    padding-right: 0.4rem;
  }

 }

/* footer */

.footer1 {
  background-color: #131313;
  color: white;
}

.footer1-icons {
  padding-top: 20px;
  text-align: center;
}

.footer1-icons-images {
  padding: 15px 15px;
  background-color: #555;
  border: 2 solid darkcyan;
  border-radius: 50%;
}

.footer1-icons-images:hover {
  padding: 15px 15px;
  background-color: black;
  border: 2px solid darkcyan;
  border-radius: 50%;
}

.footer1-links {
  margin-top: 25px;
  display: inline;
  padding: 20px;
  text-align: center;
}

.footer1-links a {
  color: white;
  padding: 6px;
  text-decoration: none;
}

.footer1-links a:hover {
  font-weight: bolder;
}

.footer1 > div {
  display: block;
}

.footer2 {
  background-color: black;
}



























@media only screen and (min-width: 760px) {
  .nav-barlogo {
    display: none;
  }

  .nav-bar1-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 2px;
    width: 100%;
    padding: 0.5rem;
  }

  .nav-bar1-top a {
    font-size: 100%;
    padding: 0.6rem 0.3rem;
  }

  .nav-bar1-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 2px;
    width: 100%;
    padding: 0.5rem;
  }

  .nav-bar1-bottom a {
    font-size: 100%;
    padding: 0.6rem 0.3rem;
  }

  .menu-icon {
    display: none;
  }

  /* main part */

  /* SECTION1*/
  #G1 {
    grid-area: G1;
    background-color: teal;
    background-image: url(/images/image1.jpeg);
    background-position: center;
    background-size: cover;
  }

  #G2 {
    grid-area: G2;
    background-image: url(/images/image2.png);
    background-position: center;
    background-size: cover;
  }

  #G3 {
    grid-area: G3;
    background-image: url(/images/image3.jpeg);
    background-position: center;
    background-size: cover;
  }

  .section1-grid {
    display: grid;
    grid-template-areas:
      "G1 G1 G1 G1 G2 G2 G2"
      "G1 G1 G1 G1 G2 G2 G2"
      "G1 G1 G1 G1 G3 G3 G3"
      "G1 G1 G1 G1 G3 G3 G3";

    grid-gap: 5px;
  }

  .section2-grid img {
    width: 20%;
    height: 20%;
  }

  /* SECTION2 */

  .section2-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
  }
  /*     "S2header S2header S2header S2header S2header S2header S2header S2header S2header"
        "S2.1 S2.1   S2.2 S2.2  S2.3 S2.3  S2.4 S2.4"
        "S2.1  S2.2  S2.3  S2.4"
        "S2.5 S2.6  S2.7  S2.8"
        "S2.5 S2.6  S2.7  S2.8" */

  /* section 4 */

  .findings-section {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
  }

  .findings-section > div {
    border: 1px solid black;
    text-align: center;
    width: 33%;
    height: auto;
  }

  .section4-div1 {
    background-image: url(/images/image16.jpeg);
    background-position: center;
    background-size: cover;
  }

  .section4-div2 {
    background-image: url(/images/image20.jpeg);
    background-position: center;
    background-size: cover;
  }

  .section4-div3 {
    background-image: url(/images/image28.jpeg);
    background-position: center;
    background-size: cover;
  }

  .section4-div4 {
    background-image: url(/images/image2.jpeg);
    background-position: center;
    background-size: cover;
  }

  .section4-div5 {
    background-image: url(/images/image18.jpeg);
    background-position: center;
    background-size: cover;
  }

  .section4-div6 {
    background-image: url(/images/image32.jpeg);
    background-position: center;
    background-size: cover;
  }

  .section4-div7 {
    background-image: url(/images/image26.jpeg);
    background-position: center;
    background-size: cover;
  }

  .section4-div8 {
    background-image: url(/images/image16.jpeg);
    background-position: center;
    background-size: cover;
  }

  .section4-div9 {
    background-image: url(/images/image32.jpeg);
    background-position: center;
    background-size: cover;
  }

  .section4-small-images {
    widows: 20px;
    height: auto;
  }

  /* section 5 */

  .discount-section-main {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    padding: 10px;
  }
  .discount-section-main > div {
      text-align: center;
  }
}
