* {
  box-sizing: border-box;
}
.nav-barlogo {
    display: none;
}

.nav-bar1-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 2px;
    width: 100%;
    padding: 0.5rem;
}

.nav-bar1-top a {
    font-size: 100%;
    padding: 0.6rem 0.3rem;
}

.nav-bar1-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 2px;
    width: 100%;
    padding: 0.5rem;
}

.nav-bar1-bottom a {
    font-size: 100%;
    padding: 0.6rem 0.3rem;
}


.menu-icon {
    display: none;
}

/* main part */

.section1-grid {
    display:grid;
    grid-template-columns: auto auto auto;
    background-color: blue;
    padding:2rem;
}

.section-main {
    grid-row:1,3;
    width:50%;
   }